section.Body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}



@media screen and (max-width: 480px) {
    section.Body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 3rem;
        
    }
}
